body{
  display: flex;
  justify-content: center;
  align-items: center;

}
.app{
  width: 50vw;
  height: 100vh;
}

.board{
  background-color: var(--lighter-background-color);;
  height: 85%;
  border-radius: 30px;
  padding: 2%;
}

