.taskbox{
    font-size: x-large;
    display: flex;
    align-items: center;

}
.taskbox:active{
    background-color: var(--accent-color);
}

a{
    color: var(--primary-color);
}

.taskBoxDeleteButton{
    pointer-events: auto;
}
