.taskInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.taskInput input{
    width: 80%;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1.2em;
    font-family: 'Belanosima';

}

.submitButton{
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}